<html ng-app="ludumApp">
	<head>
	<script src="/lib/angular/angular.js"></script>
	<script src="/src/controllers.js"></script>
  <style type="text/css">
      .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
      }
      .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
      }
    </style>
	</head>
	<body ng-controller="ElementoCtrlEditor">
		<h2>Elemento</h2>
		<h3>Editor</h3>
		<form novalidate class="css-form">
		  <input type="text" ng-model="elemento.nombre" ng-change="gen_id()" required />
		  <input type="text" ng-model="elemento.id" required />
		  <hr>
      <button ng-click="reset()">RESET</button>
      <button ng-click="update(elemento)">SAVE</button>
		  <hr>
      <pre>form = {{elemento | json}}</pre>
      <pre>master = {{master | json}}</pre>
		</form>
	</body>
</html>
