extends layout

block content
  script(src='/js/controllers.js')
  p Welcome to #{title}
  div(ng-app="ludumApp")
    div(ng-controller="ElementoCtrlEditor")
      div(ng-show="elemento.autoid && !elemento._id" class="idrequerido") El _id es requerido
      input(ng-model="elemento._id")
      {{elemento.elemento}}